body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  height: 1000px;
  border: 1px solid red;
}

.imgPizza {
  width: 100%;
  height: 250px; 
  background-image: url('./components/pizzaimg.jpg');
  background-size: cover;
}

.buildOwnPizza {
  height: 350px;
  width: 100%;
border: 1px solid black; 
}


.choiceSauce {
  height: 450px;
  width: 100%;
  border: 1px solid black;
}

.addToppings {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

h3 {
  background-color: lightgray;
}

.spacer {
  height: 50px;
}